<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Game_Rental_System.Properties.Settings.DB2022ConnectionString"
            connectionString="Data Source=DESKTOP-H3U9SJP;Initial Catalog=DB2022;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Game_Rental_System.Properties.Settings.Game_rentalConnectionString"
            connectionString="Data Source=DESKTOP-H3U9SJP;Initial Catalog=Game_rental;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>